/* Import fonts */
/* Inter */
@import url('https://rsms.me/inter/inter.css');

/* JetBrains Mono*/
@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/otf/JetBrainsMono-Regular.otf') format('opentype'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Styling */
html {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig", "calt", "cpsp", /*"frac", */"cv08";
    -webkit-font-feature-settings: "liga", "clig", "calt", "cpsp", /*"frac", */"cv08";
    font-feature-settings: "liga", "clig", "calt", "cpsp", /*"frac", */"cv08";
  line-height: 1.5;
}

code,
pre,
kbd,
samp {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'JetBrains Mono', Menlo, Consolas, Monaco, Liberation Mono, Courier New, monospace;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--code-bg);
  color: var(--code-text);
}

strong {
  font-weight: 600;
}

body {
  background-color: var(--main-bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 600;
}

hr {
  border: 0 solid var(--separator);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  /*margin-top: 1rem;*/
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.25rem;
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.note-columns-scrolling-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}

.note-columns-container {
  display: flex;
  flex-grow: 1;
  transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 800px) {
  .note-columns-container {
    width: unset !important;
  }
}

.footnotes li a {
  overflow-wrap: break-word;
}
