body.light-mode {
  --main-bg: #fafafc;
  --note-bg: #ffffff;
  --text: #1a202c;
  --separator: #e2e8f0;
  --shadow: rgba(0, 0, 0, 0.1);
  --link: #e6b60b; /*#3182ce;*/
}

body.light-mode {
  --references-bg: #fffae7; /*#ebf4ff;*/
  --references-bg-80: #fffae7cc; /*#ebf4ffcc;*/
  --references-text: #b38d08; /*#718096;*/
  --references-highlight: #665105; /*#4a5568;*/
}

body.light-mode code,
body.light-mode pre,
body.light-mode kbd,
body.light-mode samp {
  --code-bg: #f6f4f9;
  --code-text: #6c549a;
}

/*********** DARK MODE **************/

body.dark-mode {
  --main-bg: #000000;
  --note-bg: #0a0d11;
  --text: #e2e0d9; /*#ebe9e4;*/ /*#dedede;*/
  --separator: #252525;
  --shadow: rgba(255, 255, 255, 0.1);
  --link: #ffca0c; /*#3da1ff;*/
}

body.dark-mode {
  --references-bg: #17181a;
  --references-bg-80: #17181acc;
  --references-text: #b9af8c; /*#8c9fbb;*/
  --references-highlight: #f0e6b3; /*#b3cbf0;*/
}

body.dark-mode code,
body.dark-mode pre,
body.dark-mode kbd,
body.dark-mode samp {
  --code-bg: #322748;
  --code-text: #BEB2D5;
}
